
<%- include ("./layouts/header") %>

<section class="vh-100 bg-image"
  style="background-image: url('/static/img/lap.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 align-items-center justify-content-center">
      <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card card1" style="border-radius: 15px;">
            <div class="card-body py-4 px-5">
              <h2 class="text-uppercase text-center mb-3 fs-5">Create an account</h2>

              <form>

                <div data-mdb-input-init class="form-outline mb-2">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label fs-7" for="form3Example1cg">Your Name</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-2">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label fs-7" for="form3Example2cg">Your Age</label>
                  </div>
                  <div data-mdb-input-init class="form-outline mb-2">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label fs-7" for="form3Example2cg">Your Place</label>
                  </div>
                  <div data-mdb-input-init class="form-outline mb-2">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label fs-7" for="form3Example2cg">Mobile No</label>
                  </div>

                <div data-mdb-input-init class="form-outline mb-2">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label fs-7" for="form3Example3cg">Your Email</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-2">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label fs-7" for="form3Example4cg">Password</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-2">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label fs-7" for="form3Example4cdg">Repeat your password</label>
                </div>
                <div class="d-flex justify-content-center">
                  <button  type="button" data-mdb-button-init
                    data-mdb-ripple-init class="registerBtn">Register</button>
                </div>

                <p class="text-center text-muted mt-3 mb-0 fs-7">Have already an account? <a href="/"
                    class="fw-bold text-body"><u>Login here</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<%- include ("./layouts/footer") %>